In [137]:
# Importamos las librerias necesarias
import pandas as pd

In [138]:
df2= pd.read_csv('03_Internet_Penetracion_c100ho.csv')

In [139]:
#cargamos los archivos a utilizar 
df1= pd.read_csv('01_Internet_Penetracion_100hab.csv')
df2= pd.read_csv('03_Internet_Penetracion_c100ho.csv')
df3= pd.read_csv('02_Internet_Penetracion_100hogyhab.csv')
df4= pd.read_csv('04_Internet_Accesos-por-velocidadbajapro.csv')
df5= pd.read_csv('09_Internet_Accesos-por-tecnologiaprov.csv')

In [140]:
#vemos los datos del dataframe 
df1

      Año  Trimestre            Provincia Accesos por cada 100 hab
0    2022          4         Buenos Aires                    26,72
1    2022          4      Capital Federal                    50,35
2    2022          4            Catamarca                    16,73
3    2022          4                Chaco                    11,66
4    2022          4               Chubut                    26,23
..    ...        ...                  ...                      ...
859  2014          1           Santa Cruz                     8,68
860  2014          1             Santa Fe                    15,08
861  2014          1  Santiago Del Estero                     4,06
862  2014          1     Tierra Del Fuego                    19,10
863  2014          1              Tucumán                     8,31

[864 rows x 4 columns]

In [141]:
# hacemos info y verificamos el tipo de dato y la precensia de nulos
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       864 non-null    int64
 1   Trimestre                 864 non-null    int64
 2   Provincia                 864 non-null    object
 3   Accesos por cada 100 hab  864 non-null    object
dtypes: int64(2), object(2)
memory usage: 27.1+ KB

In [142]:
# Remplazo las ',' por '.' y poder transformar el tipo de dato de las columnas
df1['Accesos por cada 100 hab'] = [x.replace(',' , '.') for x in df1['Accesos por cada 100 hab']]
df1['Accesos por cada 100 hab'] = df1['Accesos por cada 100 hab'].astype('float64')

In [143]:
#>vemos los datos 
df2

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN
...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,"28,94",NaN,NaN,NaN
860,2014,1,Santa Fe,"47,85",NaN,NaN,NaN
861,2014,1,Santiago Del Estero,"16,31",NaN,NaN,NaN
862,2014,1,Tierra Del Fuego,"63,97",NaN,NaN,NaN
863,2014,1,Tucumán,"33,42",NaN,NaN,NaN

In [144]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

In [145]:
# vemos que hay columnas sin datos  las eliminamos y remplazmos las ',' por '.' y poder transformar el tipo de dato de las columnas
df2=df2.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6'], axis =1)
df2['Accesos por cada 100 hogares'] = [x.replace(',' , '.') for x in df2['Accesos por cada 100 hogares']]
df2['Accesos por cada 100 hogares'] = df2['Accesos por cada 100 hogares'].astype('float64')
df2

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2022          4         Buenos Aires                         78.94
1    2022          4      Capital Federal                        122.73
2    2022          4            Catamarca                         65.77
3    2022          4                Chaco                         43.62
4    2022          4               Chubut                         85.57
..    ...        ...                  ...                           ...
859  2014          1           Santa Cruz                         28.94
860  2014          1             Santa Fe                         47.85
861  2014          1  Santiago Del Estero                         16.31
862  2014          1     Tierra Del Fuego                         63.97
863  2014          1              Tucumán                         33.42

[864 rows x 4 columns]

In [146]:
df_int_penetracion_prov = df1.merge(df2)
df_int_penetracion_prov

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2022,4,Buenos Aires,26.72,78.94
1,2022,4,Capital Federal,50.35,122.73
2,2022,4,Catamarca,16.73,65.77
3,2022,4,Chaco,11.66,43.62
4,2022,4,Chubut,26.23,85.57
...,...,...,...,...,...
859,2014,1,Santa Cruz,8.68,28.94
860,2014,1,Santa Fe,15.08,47.85
861,2014,1,Santiago Del Estero,4.06,16.31
862,2014,1,Tierra Del Fuego,19.10,63.97
863,2014,1,Tucumán,8.31,33.42

In [147]:
df_int_penetracion_prov=df_int_penetracion_prov.sort_values(by = ['Año', 'Provincia'])
df_int_penetracion_prov

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
768,2014,4,Buenos Aires,17.01,56.09
792,2014,3,Buenos Aires,17.26,56.75
816,2014,2,Buenos Aires,16.79,55.06
840,2014,1,Buenos Aires,16.69,54.57
769,2014,4,Capital Federal,43.60,114.90
...,...,...,...,...,...
94,2022,1,Tierra Del Fuego,29.14,98.29
23,2022,4,Tucumán,15.12,61.04
47,2022,3,Tucumán,15.14,61.14
71,2022,2,Tucumán,14.69,59.31
95,2022,1,Tucumán,14.22,57.39

In [148]:
df4= pd.read_csv('04_Internet_Accesos-por-velocidadbajapro.csv')

In [149]:
# revisamos el dataframe
df4

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
860,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
861,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
862,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
863,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [150]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    object
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    object
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 81.1+ KB

In [151]:
# Remplazamos los '.' y convertimos las columnas
columns_to_replace = ['+ 1 Mbps - 6 Mbps', '+ 30 Mbps', 'Total']
df4 = df4.copy()
df4[columns_to_replace] = df4[columns_to_replace].applymap(lambda x: x.replace('.' , ''))

In [152]:

df4 = df4.astype({'+ 1 Mbps - 6 Mbps':'float' , '+ 30 Mbps':'float', 'Total': 'float'})
df4.dtypes

Año                      int64
Trimestre                int64
Provincia               object
HASTA 512 kbps         float64
+ 512 Kbps - 1 Mbps    float64
+ 1 Mbps - 6 Mbps      float64
+ 6 Mbps - 10 Mbps     float64
+ 10 Mbps - 20 Mbps    float64
+ 20 Mbps - 30 Mbps    float64
+ 30 Mbps              float64
OTROS                  float64
Total                  float64
dtype: object

In [153]:
# Revisamos los datos nulos de la columna otros
df4[df4['OTROS'].isnull()]

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
337,2019,2,Capital Federal,74.0,1.027,281370.0,124.087,239.691,296.155,475991.0,NaN,1418395.0
347,2019,2,La Rioja,9.0,11.000,39819.0,4.297,4.857,13.000,1298.0,NaN,50304.0
348,2019,2,Mendoza,20.0,2.522,205165.0,2.971,10.092,1.256,234.0,NaN,222260.0
355,2019,2,Santa Cruz,25.0,84.000,24861.0,3.806,1.202,28.000,4.0,NaN,30010.0
358,2019,2,Tierra Del Fuego,6.0,123.000,41824.0,4.241,1.573,96.000,32.0,NaN,47895.0
359,2019,2,Tucumán,16.0,157.000,78891.0,44.296,24.291,628.000,18394.0,NaN,166673.0

In [154]:
# Se decide remplazar los nulos con '0 ' para 
df4['OTROS'].fillna(0, inplace=True)

In [155]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    float64
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    float64
 10  OTROS                864 non-null    float64
 11  Total                864 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 81.1+ KB

In [156]:
df4

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259866.0,281.550,244.555,98.670,3760109.0,97.634,4794665.0
1,2022,4,Capital Federal,516.000,5.096,31320.0,64.653,36.336,8.116,1299117.0,106.772,1551926.0
2,2022,4,Catamarca,71.000,315.000,2716.0,5.028,4.638,3.122,52739.0,2.280,70909.0
3,2022,4,Chaco,461.000,771.000,16067.0,17.846,6.704,3.039,94866.0,3.909,143663.0
4,2022,4,Chubut,109.000,1.614,46457.0,31.007,34.728,15.770,19048.0,20.026,168759.0
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,161.000,1.625,24972.0,1.000,1.000,0.000,0.0,0.000,26760.0
860,2014,1,Santa Fe,8.456,124.468,345225.0,20.328,6.845,23.000,668.0,0.000,506013.0
861,2014,1,Santiago Del Estero,1.234,10.531,22817.0,2.422,109.000,0.000,0.0,0.000,37113.0
862,2014,1,Tierra Del Fuego,12.000,607.000,30902.0,6.000,0.000,0.000,0.0,0.000,31527.0
863,2014,1,Tucumán,6.000,34.672,83210.0,11.779,362.000,3.000,0.0,0.000,130032.0

In [193]:
df5= pd.read_csv('09_Internet_Accesos-por-tecnologiaprov.csv')

In [194]:
#revisamos el dataframe
df5

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 60.9+ KB

In [196]:
fila_seleccionada = df5.loc[864]
fila_seleccionada

Año                                                             *
Trimestre       Los datos provinciales no coinciden a nivel na...
Provincia                                                     NaN
ADSL                                                          NaN
Cablemodem                                                    NaN
Fibra óptica                                                  NaN
Wireless                                                      NaN
Otros                                                         NaN
Total                                                         NaN
Name: 864, dtype: object

In [197]:
# eliminamos la ultima fila ya que no aporta ningun valor  
df5.drop([864], axis=0, inplace=True)

In [198]:
# verificamos alguna incongruencia en los datos '2019 *'
df5['Año'].unique()

array(['2022', '2021', '2020', '2019', '2019 *', '2018', '2017', '2016',
       '2015', '2014'], dtype=object)

In [199]:
# verificamos alguna incongruencia en los datos '3 *',  '2*', '1*'
df5['Trimestre'].unique()

array(['4', '3', '2', '1', '3 *', '2 *', '1 *'], dtype=object)

In [200]:
df5['Trimestre'] = df5['Trimestre'].str.replace('*', '')

In [201]:
df5['Año'] = df5['Año'].str.replace('*', '')

In [202]:
df5 = df5.astype({'Año':'int64' , 'Trimestre':'int64'})
df5.dtypes

Año               int64
Trimestre         int64
Provincia        object
ADSL            float64
Cablemodem      float64
Fibra óptica    float64
Wireless        float64
Otros           float64
Total           float64
dtype: object

In [203]:
df5

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,19.0,100.0,381.0,4.0,3.0,27.0
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0

In [205]:
df_int_acve_pro = df5.merge(df4, left_index=True, right_index=True)
df_int_acve_pro

,Año_x,Trimestre_x,Provincia_x,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Año_y,...,Provincia_y,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total_y
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0,2022,...,Buenos Aires,28.934,23.347,259866.0,281.550,244.555,98.670,3760109.0,97.634,4794665.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0,2022,...,Capital Federal,516.000,5.096,31320.0,64.653,36.336,8.116,1299117.0,106.772,1551926.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0,2022,...,Catamarca,71.000,315.000,2716.0,5.028,4.638,3.122,52739.0,2.280,70909.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0,2022,...,Chaco,461.000,771.000,16067.0,17.846,6.704,3.039,94866.0,3.909,143663.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0,2022,...,Chubut,109.000,1.614,46457.0,31.007,34.728,15.770,19048.0,20.026,168759.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,19.0,100.0,381.0,4.0,3.0,27.0,2014,...,Santa Cruz,161.000,1.625,24972.0,1.000,1.000,0.000,0.0,0.000,26760.0
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0,2014,...,Santa Fe,8.456,124.468,345225.0,20.328,6.845,23.000,668.0,0.000,506013.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0,2014,...,Santiago Del Estero,1.234,10.531,22817.0,2.422,109.000,0.000,0.0,0.000,37113.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0,2014,...,Tierra Del Fuego,12.000,607.000,30902.0,6.000,0.000,0.000,0.0,0.000,31527.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0,2014,...,Tucumán,6.000,34.672,83210.0,11.779,362.000,3.000,0.0,0.000,130032.0

In [206]:
df_int_acve_pro=df_int_acve_pro.drop(['Año_y','Trimestre_y','Provincia_y'], axis =1)
df_int_acve_pro.rename(columns={'Año_x':'Año', 'Trimestre_x':'Trimestre','Provincia_x':'Provincia' }, inplace=True)
df_int_acve_pro

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total_y
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0,28.934,23.347,259866.0,281.550,244.555,98.670,3760109.0,97.634,4794665.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0,516.000,5.096,31320.0,64.653,36.336,8.116,1299117.0,106.772,1551926.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0,71.000,315.000,2716.0,5.028,4.638,3.122,52739.0,2.280,70909.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0,461.000,771.000,16067.0,17.846,6.704,3.039,94866.0,3.909,143663.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0,109.000,1.614,46457.0,31.007,34.728,15.770,19048.0,20.026,168759.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,19.0,100.0,381.0,4.0,3.0,27.0,161.000,1.625,24972.0,1.000,1.000,0.000,0.0,0.000,26760.0
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0,8.456,124.468,345225.0,20.328,6.845,23.000,668.0,0.000,506013.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0,1.234,10.531,22817.0,2.422,109.000,0.000,0.0,0.000,37113.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0,12.000,607.000,30902.0,6.000,0.000,0.000,0.0,0.000,31527.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0,6.000,34.672,83210.0,11.779,362.000,3.000,0.0,0.000,130032.0

In [207]:
df_int_acve_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   ADSL                 864 non-null    float64
 4   Cablemodem           864 non-null    float64
 5   Fibra óptica         864 non-null    float64
 6   Wireless             864 non-null    float64
 7   Otros                864 non-null    float64
 8   Total_x              864 non-null    float64
 9   HASTA 512 kbps       864 non-null    float64
 10  + 512 Kbps - 1 Mbps  864 non-null    float64
 11  + 1 Mbps - 6 Mbps    864 non-null    float64
 12  + 6 Mbps - 10 Mbps   864 non-null    float64
 13  + 10 Mbps - 20 Mbps  864 non-null    float64
 14  + 20 Mbps - 30 Mbps  864 non-null    float64
 15  + 30 Mbps            864 non-null    float64
 16  OTROS                864 non-null    float64
 17  Total_y              864 non-null    float64
dtypes: float64(15), int64(2), object(1)
memory usage: 121.6+ KB

In [179]:
dftv= pd.read_csv('Television año.csv')
dftv.head()

,Año,Trimestre,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,2022.0,4.0,"16,55","3,96","52,90","12,66"
1,2022.0,3.0,"16,56","4,46","52,97","14,27"
2,2022.0,2.0,"16,55","4,47","53,01","14,31"
3,2022.0,1.0,"16,41","4,45","52,61","14,25"
4,2021.0,4.0,"16,52","4,37","52,99","14,02"

In [180]:
dftv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              36 non-null     float64
 1   Trimestre                                        36 non-null     float64
 2   Accesos TV por suscripción por cada 100 hab      37 non-null     object
 3   Accesos TV satelital por cada 100 hab            37 non-null     object
 4   Accesos TV por suscripción por cada 100 hogares  37 non-null     object
 5   Accesos TV satelital por cada 100 hogares        37 non-null     object
dtypes: float64(2), object(4)
memory usage: 1.9+ KB

In [182]:
dftv.isnull().sum()
dftv= dftv.dropna()

In [183]:
dftv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              36 non-null     float64
 1   Trimestre                                        36 non-null     float64
 2   Accesos TV por suscripción por cada 100 hab      36 non-null     object
 3   Accesos TV satelital por cada 100 hab            36 non-null     object
 4   Accesos TV por suscripción por cada 100 hogares  36 non-null     object
 5   Accesos TV satelital por cada 100 hogares        36 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.0+ KB

In [184]:
columns_to_replace = ['Accesos TV por suscripción por cada 100 hab', 'Accesos TV por suscripción por cada 100 hogares', 
                      'Accesos TV satelital por cada 100 hab','Accesos TV satelital por cada 100 hogares']
dftv = dftv.copy()
dftv[columns_to_replace] = dftv[columns_to_replace].applymap(lambda x: x.replace(',' , '.'))

In [185]:
dftv = dftv.astype({'Año': 'int64', 'Trimestre': 'int64', 'Accesos TV por suscripción por cada 100 hab':'float',
                    'Accesos TV por suscripción por cada 100 hogares': 'float', 'Accesos TV satelital por cada 100 hab': 'float', 
                    'Accesos TV satelital por cada 100 hogares': 'float'})
dftv.dtypes

Año                                                  int64
Trimestre                                            int64
Accesos TV por suscripción por cada 100 hab        float64
Accesos TV satelital por cada 100 hab              float64
Accesos TV por suscripción por cada 100 hogares    float64
Accesos TV satelital por cada 100 hogares          float64
dtype: object

In [187]:
dftm= pd.read_csv('Telefonia_movil.csv')
dftm

     Año  Trimestre  Accesos por cada 100 hab        Periodo
0   2013          1                    15.437   Ene-Mar 2013
1   2013          2                    15.600   Abr-Jun 2013
2   2013          3                    15.859  Jul-Sept 2013
3   2013          4                    15.937   Oct-Dic 2013
4   2014          1                    14.807   Ene-Mar 2014
5   2014          2                    14.300   Abr-Jun 2014
6   2014          3                    14.344  Jul-Sept 2014
7   2014          4                    14.260   Oct-Dic 2014
8   2015          1                    14.012   Ene-Mar 2015
9   2015          2                    13.894   Abr-Jun 2015
10  2015          3                    14.056  Jul-Sept 2015
11  2015          4                    14.275   Oct-Dic 2015
12  2016          1                    14.155   Ene-Mar 2016
13  2016          2                    14.264   Abr-Jun 2016
14  2016          3                    14.560  Jul-Sept 2016
15  2016          4                    14.555   Oct-Dic 2016
16  2017          1                    14.359   Ene-Mar 2017
17  2017          2                    14.281   Abr-Jun 2017
18  2017          3                    14.105  Jul-Sept 2017
19  2017          4                    13.994   Oct-Dic 2017
20  2018          1                    13.659   Ene-Mar 2018
21  2018          2                    13.376   Abr-Jun 2018
22  2018          3                    13.202  Jul-Sept 2018
23  2018          4                    13.115   Oct-Dic 2018
24  2019          1                    13.117   Ene-Mar 2019
25  2019          2                    12.891   Abr-Jun 2019
26  2019          3                    12.868  Jul-Sept 2019
27  2019          4                    12.489   Oct-Dic 2019
28  2020          1                    12.381   Ene-Mar 2020
29  2020          2                    12.171   Abr-Jun 2020
30  2020          3                    12.018  Jul-Sept 2020
31  2020          4                    12.021   Oct-Dic 2020
32  2021          1                    12.362   Ene-Mar 2021
33  2021          2                    12.426   Abr-Jun 2021
34  2021          3                    12.601  Jul-Sept 2021
35  2021          4                    12.844   Oct-Dic 2021
36  2022          1                    12.837   Ene-Mar 2022
37  2022          2                    12.795   Abr-Jun 2022
38  2022          3                    12.798  Jul-Sept 2022
39  2022          4                    12.865   Oct-Dic 2022

In [188]:
dftm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       40 non-null     int64
 1   Trimestre                 40 non-null     int64
 2   Accesos por cada 100 hab  40 non-null     float64
 3   Periodo                   40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [ ]:
dftm.drop([0, 1, 2, 3], axis=0, inplace=True)
dftm.reset_index(drop=True, inplace=True)

In [220]:
dftm=dftm.drop(['Periodo'], axis =1)

In [223]:
dftm.rename(columns={'Accesos por cada 100 hab':'Accesos movil 100 hab' }, inplace=True)

In [224]:
dftm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    36 non-null     int64
 1   Trimestre              36 non-null     int64
 2   Accesos movil 100 hab  36 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 992.0 bytes

In [213]:
dfinac= pd.read_csv('02_Internet_Penetracion_100hogyhab.csv')
dfinac

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021
5,2021,3,"70,58","21,98",Jul-Sept 2021
6,2021,2,"69,24","21,55",Abr-Jun 2021
7,2021,1,"67,95","21,13",Ene-Mar 2021
8,2020,4,"67,62","21,01",Oct-Dic 2020
9,2020,3,"66,31","20,59",Jul-Sept 2020
10,2020,2,"64,21","19,92",Abr-Jun 2020
11,2020,1,"62,86","19,48",Ene-Mar 2020
12,2019,4,"62,92","19,49",Oct-Dic 2019
13,2019,3,"65,79","20,36",Jul-Sept 2019
14,2019,2,"64,53","19,96",Abr-Jun 2019
15,2019,1,"62,48","19,31",Ene-Mar 2019
16,2018,4,"61,42","18,97",Oct-Dic 2018
17,2018,3,"60,69","18,73",Jul-Sept 2018
18,2018,2,"59,16","18,24",Abr-Jun 2018
19,2018,1,"58,82","18,12",Ene-Mar 2018
20,2017,4,"57,78","17,79",Oct-Dic 2017
21,2017,3,"56,90","17,51",Jul-Sept 2017
22,2017,2,"54,90","16,88",Abr-Jun 2017
23,2017,1,"54,16","16,64",Ene-Mar 2017
24,2016,4,"53,94","16,56",Oct-Dic 2016
25,2016,3,"53,73","16,50",Jul-Sept 2016
26,2016,2,"53,34","16,37",Abr-Jun 2016
27,2016,1,"51,85","15,90",Ene-Mar 2016
28,2015,4,"52,63","16,12",Oct-Dic 2015
29,2015,3,"52,46","16,05",Jul-Sept 2015
30,2015,2,"51,76","15,82",Abr-Jun 2015
31,2015,1,"51,36","15,68",Ene-Mar 2015
32,2014,4,"50,50","15,39",Oct-Dic 2014
33,2014,3,"50,67","15,43",Jul-Sept 2014
34,2014,2,"49,86","15,16",Abr-Jun 2014
35,2014,1,"49,55","15,05",Ene-Mar 2014

In [215]:
dfinac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     object
 3   Accesos por cada 100 hab      36 non-null     object
 4   Periodo                       36 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [214]:
dfinac = dfinac.copy()
columns_to_replace = ['Accesos por cada 100 hogares', 'Accesos por cada 100 hab']
dfinac[columns_to_replace] = dfinac[columns_to_replace].applymap(lambda x: x.replace(',' , '.'))

In [ ]:
dfinac = dfinac.astype({'Accesos por cada 100 hogares':'float', 'Accesos por cada 100 hab': 'float'})

In [218]:
dfinac=dfinac.drop(['Periodo'], axis =1)

In [226]:
dfinac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos internet 100 hogares  36 non-null     float64
 3   Accesos internet 100 hab      36 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.2 KB

In [225]:
dfinac.rename(columns={'Accesos por cada 100 hogares':'Accesos internet 100 hogares', 'Accesos por cada 100 hab':'Accesos internet 100 hab' }, inplace=True)

In [227]:
df_anual_int_tv_mv=dfinac.merge(dftv)

In [228]:
df_anual_int_tv_mv = df_anual_int_tv_mv.merge(dftm)

In [229]:
df_anual_int_tv_mv

,Año,Trimestre,Accesos internet 100 hogares,Accesos internet 100 hab,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares,Accesos movil 100 hab
0,2022,4,77.21,24.15,16.55,3.96,52.90,12.66,12.865
1,2022,3,76.64,23.95,16.56,4.46,52.97,14.27,12.798
2,2022,2,75.97,23.72,16.55,4.47,53.01,14.31,12.795
3,2022,1,73.88,23.05,16.41,4.45,52.61,14.25,12.837
4,2021,4,73.18,22.81,16.52,4.37,52.99,14.02,12.844
5,2021,3,70.58,21.98,16.73,4.68,53.72,15.03,12.601
6,2021,2,69.24,21.55,16.02,5.08,51.48,16.33,12.426
7,2021,1,67.95,21.13,16.09,4.95,51.74,15.93,12.362
8,2020,4,67.62,21.01,16.10,5.09,51.80,16.39,12.021
9,2020,3,66.31,20.59,16.13,5.40,51.95,17.38,12.018
10,2020,2,64.21,19.92,15.93,5.41,51.36,17.45,12.171
11,2020,1,62.86,19.48,15.97,5.43,51.51,17.52,12.381
12,2019,4,62.92,19.49,16.17,5.45,52.21,17.60,12.489
13,2019,3,65.79,20.36,15.90,5.47,51.37,17.67,12.868
14,2019,2,64.53,19.96,15.70,5.48,50.76,17.72,12.891
15,2019,1,62.48,19.31,15.58,5.52,50.42,17.87,13.117
16,2018,4,61.42,18.97,15.47,5.54,50.10,17.94,13.115
17,2018,3,60.69,18.73,15.80,5.69,51.21,18.44,13.202
18,2018,2,59.16,18.24,15.59,5.63,50.56,18.26,13.376
19,2018,1,58.82,18.12,15.63,5.56,50.73,18.05,13.659
20,2017,4,57.78,17.79,15.43,5.79,50.12,18.81,13.994
21,2017,3,56.90,17.51,15.36,5.89,49.84,19.10,14.105
22,2017,2,54.90,16.88,15.38,5.85,50.00,19.04,14.281
23,2017,1,54.16,16.64,14.99,5.75,49.01,18.77,14.359
24,2016,4,53.94,16.56,15.03,6.11,50.45,20.49,14.555
25,2016,3,53.73,16.50,15.00,6.03,50.34,20.24,14.560
26,2016,2,53.34,16.37,14.99,6.06,50.30,20.34,14.264
27,2016,1,51.85,15.90,14.92,5.83,50.08,19.55,14.155
28,2015,4,52.63,16.12,15.08,5.88,50.61,19.74,14.275
29,2015,3,52.46,16.05,15.05,5.99,50.48,20.11,14.056
30,2015,2,51.76,15.82,14.98,5.99,50.25,20.09,13.894
31,2015,1,51.36,15.68,14.86,5.79,49.86,19.41,14.012
32,2014,4,50.50,15.39,15.18,5.78,50.92,19.18,14.260
33,2014,3,50.67,15.43,15.12,5.74,50.70,19.06,14.344
34,2014,2,49.86,15.16,15.09,5.97,50.61,19.81,14.300
35,2014,1,49.55,15.05,12.74,5.57,42.72,18.48,14.807