In [1]:
import pandas as pd

# ETL #

In [2]:
# Cargo los archivos y genero un dataframe para su revision
df1= pd.read_csv('01_Internet_Penetracion_provi_c100.csv')
df2= pd.read_csv('02_Internet_Penetracion_100hogyhab.csv')
df3= pd.read_csv('03_Internet_Penetracion_c100ho.csv')
df4= pd.read_csv('04_Internet_Accesos-por-velocidadbajapro.csv')
df5= pd.read_csv('05_Internet_Accesos-por-velocidadbajanac.csv')
df6= pd.read_csv('06_Denuncias_y_reclamos_202310.csv')
df7= pd.read_csv('07_historico_velocidad_mediabajaprov.csv')
df8= pd.read_csv('08_AccesosaInternetfijoporvelocidadbajadayprovincia_2791741699496938455.csv')
df9= pd.read_csv('09_Internet_Accesos-por-tecnologiaprov.csv')
df10= pd.read_csv('10_Internet_Accesos-por-tecnologianac.csv')
df11= pd.read_csv('11_Internet_Ingresos.csv')
df12= pd.read_csv('12_historico_velocidad_internetnac.csv')
df13= pd.read_csv('13_Internet_BAFprov.csv')
df14= pd.read_csv('14_Internet_BAFnac.csv')

FileNotFoundError: [Errno 2] No such file or directory: '01_Internet_Penetracion_provi_c100.csv'

In [87]:
dftv= pd.read_csv('Television año.csv')
dftv

,Año,Trimestre,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,2022.0,4.0,"16,55","3,96","52,90","12,66"
1,2022.0,3.0,"16,56","4,46","52,97","14,27"
2,2022.0,2.0,"16,55","4,47","53,01","14,31"
3,2022.0,1.0,"16,41","4,45","52,61","14,25"
4,2021.0,4.0,"16,52","4,37","52,99","14,02"
5,2021.0,3.0,"16,73","4,68","53,72","15,03"
6,2021.0,2.0,"16,02","5,08","51,48","16,33"
7,2021.0,1.0,"16,09","4,95","51,74","15,93"
8,2020.0,4.0,"16,10","5,09","51,80","16,39"
9,2020.0,3.0,"16,13","5,40","51,95","17,38"
10,2020.0,2.0,"15,93","5,41","51,36","17,45"
11,2020.0,1.0,"15,97","5,43","51,51","17,52"
12,2019.0,4.0,"16,17","5,45","52,21","17,60"
13,2019.0,3.0,"15,90","5,47","51,37","17,67"
14,2019.0,2.0,"15,70","5,48","50,76","17,72"
15,2019.0,1.0,"15,58","5,52","50,42","17,87"
16,2018.0,4.0,"15,47","5,54","50,10","17,94"
17,2018.0,3.0,"15,80","5,69","51,21","18,44"
18,2018.0,2.0,"15,59","5,63","50,56","18,26"
19,2018.0,1.0,"15,63","5,56","50,73","18,05"
20,2017.0,4.0,"15,43","5,79","50,12","18,81"
21,2017.0,3.0,"15,36","5,89","49,84","19,10"
22,2017.0,2.0,"15,38","5,85","50,00","19,04"
23,2017.0,1.0,"14,99","5,75","49,01","18,77"
24,2016.0,4.0,"15,03","6,11","50,45","20,49"
25,2016.0,3.0,"15,00","6,03","50,34","20,24"
26,2016.0,2.0,"14,99","6,06","50,30","20,34"
27,2016.0,1.0,"14,92","5,83","50,08","19,55"
28,2015.0,4.0,"15,08","5,88","50,61","19,74"
29,2015.0,3.0,"15,05","5,99","50,48","20,11"
30,2015.0,2.0,"14,98","5,99","50,25","20,09"
31,2015.0,1.0,"14,86","5,79","49,86","19,41"
32,2014.0,4.0,"15,18","5,78","50,92","19,18"
33,2014.0,3.0,"15,12","5,74","50,70","19,06"
34,2014.0,2.0,"15,09","5,97","50,61","19,81"
35,2014.0,1.0,"12,74","5,57","42,72","18,48"
36,NaN,NaN,"16,56","4,46","52,97","14,27"

In [88]:
dftv.isnull().sum()
dftv= dftv.dropna()

In [89]:
dftv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              36 non-null     float64
 1   Trimestre                                        36 non-null     float64
 2   Accesos TV por suscripción por cada 100 hab      36 non-null     object
 3   Accesos TV satelital por cada 100 hab            36 non-null     object
 4   Accesos TV por suscripción por cada 100 hogares  36 non-null     object
 5   Accesos TV satelital por cada 100 hogares        36 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.0+ KB

In [90]:
dftv = dftv.copy()
dftv[columns_to_replace] = dftv[columns_to_replace].applymap(lambda x: x.replace(',' , '.'))

C:\Users\rafae\AppData\Local\Temp\ipykernel_27736\1917495300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftv[columns_to_replace] = dftv[columns_to_replace].applymap(lambda x: x.replace(',' , '.'))

In [86]:
dftv = dftv.astype({'Año': 'int32', 'Trimestre': 'int32', 'Accesos TV por suscripción por cada 100 hab':'float',
                    'Accesos TV por suscripción por cada 100 hogares': 'float', 'Accesos TV satelital por cada 100 hab': 'float', 
                    'Accesos TV satelital por cada 100 hogares': 'float'})
dftv.dtypes

Año                                                  int32
Trimestre                                            int32
Accesos TV por suscripción por cada 100 hab        float64
Accesos TV satelital por cada 100 hab              float64
Accesos TV por suscripción por cada 100 hogares     object
Accesos TV satelital por cada 100 hogares           object
dtype: object

In [75]:
dftv

,Año,Trimestre,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,2022.0,4.0,16.55,3.96,52.90,12.66
1,2022.0,3.0,16.56,4.46,52.97,14.27
2,2022.0,2.0,16.55,4.47,53.01,14.31
3,2022.0,1.0,16.41,4.45,52.61,14.25
4,2021.0,4.0,16.52,4.37,52.99,14.02
5,2021.0,3.0,16.73,4.68,53.72,15.03
6,2021.0,2.0,16.02,5.08,51.48,16.33
7,2021.0,1.0,16.09,4.95,51.74,15.93
8,2020.0,4.0,16.10,5.09,51.80,16.39
9,2020.0,3.0,16.13,5.40,51.95,17.38
10,2020.0,2.0,15.93,5.41,51.36,17.45
11,2020.0,1.0,15.97,5.43,51.51,17.52
12,2019.0,4.0,16.17,5.45,52.21,17.60
13,2019.0,3.0,15.90,5.47,51.37,17.67
14,2019.0,2.0,15.70,5.48,50.76,17.72
15,2019.0,1.0,15.58,5.52,50.42,17.87
16,2018.0,4.0,15.47,5.54,50.10,17.94
17,2018.0,3.0,15.80,5.69,51.21,18.44
18,2018.0,2.0,15.59,5.63,50.56,18.26
19,2018.0,1.0,15.63,5.56,50.73,18.05
20,2017.0,4.0,15.43,5.79,50.12,18.81
21,2017.0,3.0,15.36,5.89,49.84,19.10
22,2017.0,2.0,15.38,5.85,50.00,19.04
23,2017.0,1.0,14.99,5.75,49.01,18.77
24,2016.0,4.0,15.03,6.11,50.45,20.49
25,2016.0,3.0,15.00,6.03,50.34,20.24
26,2016.0,2.0,14.99,6.06,50.30,20.34
27,2016.0,1.0,14.92,5.83,50.08,19.55
28,2015.0,4.0,15.08,5.88,50.61,19.74
29,2015.0,3.0,15.05,5.99,50.48,20.11
30,2015.0,2.0,14.98,5.99,50.25,20.09
31,2015.0,1.0,14.86,5.79,49.86,19.41
32,2014.0,4.0,15.18,5.78,50.92,19.18
33,2014.0,3.0,15.12,5.74,50.70,19.06
34,2014.0,2.0,15.09,5.97,50.61,19.81
35,2014.0,1.0,12.74,5.57,42.72,18.48
36,NaN,NaN,16.56,4.46,52.97,14.27

In [ ]:
dftv = dftv.astype({'Año': 'int32', 'Trimestre': 'int32', 'Accesos TV por suscripción por cada 100 hab':float,
                    'Accesos TV por suscripción por cada 100 hab': float, 'Accesos TV satelital por cada 100 hab': float, 
                    'Accesos TV satelital por cada 100 hab': float})
dftv.dtypes

In [ ]:
dftv['Accesos TV por suscripción por cada 100 hab'] = [x.replace(',' , '.') for x in df1['Accesos por cada 100 hab']]
df1['Accesos por cada 100 hab'] = df1['Accesos por cada 100 hab'].astype('float64')

In [44]:
df1

      Año  Trimestre            Provincia Accesos por cada 100 hab
0    2022          4         Buenos Aires                    26,72
1    2022          4      Capital Federal                    50,35
2    2022          4            Catamarca                    16,73
3    2022          4                Chaco                    11,66
4    2022          4               Chubut                    26,23
..    ...        ...                  ...                      ...
859  2014          1           Santa Cruz                     8,68
860  2014          1             Santa Fe                    15,08
861  2014          1  Santiago Del Estero                     4,06
862  2014          1     Tierra Del Fuego                    19,10
863  2014          1              Tucumán                     8,31

[864 rows x 4 columns]

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       864 non-null    int64
 1   Trimestre                 864 non-null    int64
 2   Provincia                 864 non-null    object
 3   Accesos por cada 100 hab  864 non-null    object
dtypes: int64(2), object(2)
memory usage: 27.1+ KB

In [46]:
# Remplazo las ',' por '.' y poder transformar el tipo de dato de las columnas
df1['Accesos por cada 100 hab'] = [x.replace(',' , '.') for x in df1['Accesos por cada 100 hab']]
df1['Accesos por cada 100 hab'] = df1['Accesos por cada 100 hab'].astype('float64')

In [51]:
df2

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021
5,2021,3,"70,58","21,98",Jul-Sept 2021
6,2021,2,"69,24","21,55",Abr-Jun 2021
7,2021,1,"67,95","21,13",Ene-Mar 2021
8,2020,4,"67,62","21,01",Oct-Dic 2020
9,2020,3,"66,31","20,59",Jul-Sept 2020
10,2020,2,"64,21","19,92",Abr-Jun 2020
11,2020,1,"62,86","19,48",Ene-Mar 2020
12,2019,4,"62,92","19,49",Oct-Dic 2019
13,2019,3,"65,79","20,36",Jul-Sept 2019
14,2019,2,"64,53","19,96",Abr-Jun 2019
15,2019,1,"62,48","19,31",Ene-Mar 2019
16,2018,4,"61,42","18,97",Oct-Dic 2018
17,2018,3,"60,69","18,73",Jul-Sept 2018
18,2018,2,"59,16","18,24",Abr-Jun 2018
19,2018,1,"58,82","18,12",Ene-Mar 2018
20,2017,4,"57,78","17,79",Oct-Dic 2017
21,2017,3,"56,90","17,51",Jul-Sept 2017
22,2017,2,"54,90","16,88",Abr-Jun 2017
23,2017,1,"54,16","16,64",Ene-Mar 2017
24,2016,4,"53,94","16,56",Oct-Dic 2016
25,2016,3,"53,73","16,50",Jul-Sept 2016
26,2016,2,"53,34","16,37",Abr-Jun 2016
27,2016,1,"51,85","15,90",Ene-Mar 2016
28,2015,4,"52,63","16,12",Oct-Dic 2015
29,2015,3,"52,46","16,05",Jul-Sept 2015
30,2015,2,"51,76","15,82",Abr-Jun 2015
31,2015,1,"51,36","15,68",Ene-Mar 2015
32,2014,4,"50,50","15,39",Oct-Dic 2014
33,2014,3,"50,67","15,43",Jul-Sept 2014
34,2014,2,"49,86","15,16",Abr-Jun 2014
35,2014,1,"49,55","15,05",Ene-Mar 2014

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     object
 3   Accesos por cada 100 hab      36 non-null     object
 4   Periodo                       36 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [54]:
df2['Accesos por cada 100 hab'] = [x.replace(',' , '.') for x in df2['Accesos por cada 100 hab']]
df2['Accesos por cada 100 hab'] = df2['Accesos por cada 100 hab' ].astype('float64')

In [56]:
kpi= ((df2['Accesos por cada 100 hab'].shift(1) - df2['Accesos por cada 100 hab']))/df2['Accesos por cada 100 hab'].shift(1)

In [57]:
kpi

0          NaN
1     0.008282
2     0.009603
3     0.028246
4     0.010412
5     0.036388
6     0.019563
7     0.019490
8     0.005679
9     0.019990
10    0.032540
11    0.022088
12   -0.000513
13   -0.044638
14    0.019646
15    0.032565
16    0.017607
17    0.012652
18    0.026161
19    0.006579
20    0.018212
21    0.015739
22    0.035979
23    0.014218
24    0.004808
25    0.003623
26    0.007879
27    0.028711
28   -0.013836
29    0.004342
30    0.014330
31    0.008850
32    0.018495
33   -0.002599
34    0.017498
35    0.007256
Name: Accesos por cada 100 hab, dtype: float64

In [184]:
df3

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN
...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,"28,94",NaN,NaN,NaN
860,2014,1,Santa Fe,"47,85",NaN,NaN,NaN
861,2014,1,Santiago Del Estero,"16,31",NaN,NaN,NaN
862,2014,1,Tierra Del Fuego,"63,97",NaN,NaN,NaN
863,2014,1,Tucumán,"33,42",NaN,NaN,NaN

In [187]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

In [189]:
df3=df3.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6'], axis =1)
df3.sort_values

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          4         Buenos Aires                        78,94
1    2022          4      Capital Federal                       122,73
2    2022          4            Catamarca                        65,77
3    2022          4                Chaco                        43,62
4    2022          4               Chubut                        85,57
..    ...        ...                  ...                          ...
859  2014          1           Santa Cruz                        28,94
860  2014          1             Santa Fe                        47,85
861  2014          1  Santiago Del Estero                        16,31
862  2014          1     Tierra Del Fuego                        63,97
863  2014          1              Tucumán                        33,42

[864 rows x 4 columns]

In [223]:
df3

      Año  Trimestre            Provincia  Accesos por cada 100 hogares   id
0    2022          4         Buenos Aires                         78.94    1
1    2022          4      Capital Federal                        122.73    2
2    2022          4            Catamarca                         65.77    3
3    2022          4                Chaco                         43.62    4
4    2022          4               Chubut                         85.57    5
..    ...        ...                  ...                           ...  ...
859  2014          1           Santa Cruz                         28.94  860
860  2014          1             Santa Fe                         47.85  861
861  2014          1  Santiago Del Estero                         16.31  862
862  2014          1     Tierra Del Fuego                         63.97  863
863  2014          1              Tucumán                         33.42  864

[864 rows x 5 columns]

In [111]:
df4

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
860,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
861,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
862,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
863,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [211]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    float64
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    float64
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 81.1+ KB

In [208]:
df4c= df4
df4['+ 1 Mbps - 6 Mbps'] = [x.replace('.' , '') for x in df4['+ 1 Mbps - 6 Mbps']]
df4['+ 30 Mbps'] = [x.replace('.' , '') for x in df4['+ 30 Mbps']]
df4['Total'] = [x.replace('.' , '') for x in df4['Total']]

In [210]:
df4['+ 1 Mbps - 6 Mbps'] = df4['+ 1 Mbps - 6 Mbps'].astype('float64')
df4['+ 30 Mbps'] = df4['+ 30 Mbps'].astype('float64')
df4['Total'] = df4['Total'].astype('float64')

In [110]:
df5

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794
5,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541
6,2021,2,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084
7,2021,1,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972
8,2020,4,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562
9,2020,3,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199
10,2020,2,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056
11,2020,1,42.550,56.170,2.649.819,1.022.014,814.470,532.309,3.500.882,194.212,8.812.426
12,2019,4,38.272,28.980,2.792.307,1.046.128,851.619,1.004.083,2.830.746,201.046,8.793.181
13,2019,3,241.713,80.599,3.309.137,1.026.859,806.466,1.141.545,2.314.898,243.467,9.164.684
14,2019,2,202.790,95.980,3.444.458,871.142,1.169.632,1.250.366,1.677.830,247.983,8.960.181
15,2019,1,166.573,195.706,3.428.759,882.836,1.464.748,1.244.215,1.138.728,126.570,8.648.135
16,2018,4,138.740,201.196,3.337.982,882.388,1.472.634,1.688.748,599.579,152.388,8.473.655
17,2018,3,5.675,220.589,3.401.277,859.413,1.607.137,1.571.692,524.777,156.475,8.347.035
18,2018,2,5.972,219.467,3.316.868,979.416,1.905.839,1.000.036,444.391,238.455,8.110.444
19,2018,1,7.309,215.406,3.272.724,976.956,2.068.087,862.010,397.977,236.584,8.037.053
20,2017,4,15.041,221.474,3.773.159,1.005.545,1.730.353,631.946,337.559,155.145,7.870.222
21,2017,3,19.022,217.997,4.062.226,1.062.810,1.592.304,353.480,245.790,0.000,7.553.629
22,2017,2,22.366,222.766,4.416.065,990.281,1.342.000,231.604,98.635,0.000,7.323.717
23,2017,1,20.653,230.159,4.584.534,975.027,1.129.987,210.668,47.990,0.000,7.199.018
24,2016,4,20.724,233.398,4.673.339,971.094,1.038.029,169.522,38.590,0.000,7.144.696
25,2016,3,20.104,294.413,4.816.081,936.533,919.208,124.564,31.022,0.000,7.141.925
26,2016,2,44.008,384.221,5.058.481,796.998,785.759,73.977,29.020,0.000,7.172.464
27,2016,1,30.428,404.810,4.944.358,762.999,641.646,27.664,23.380,0.000,6.835.285
28,2015,4,34.243,427.394,5.049.640,726.740,639.011,17.568,22.170,0.000,6.916.766
29,2015,3,35.030,455.777,5.087.802,701.187,539.414,13.101,20.677,0.000,6.852.988
30,2015,2,40.723,500.175,5.138.431,645.440,432.762,10.045,18.529,0.000,6.786.105
31,2015,1,41.158,516.919,5.121.423,571.620,348.102,7.643,16.347,0.000,6.623.212
32,2014,4,44.075,554.749,5.084.556,496.251,276.254,4.371,15.229,0.000,6.475.485
33,2014,3,37.430,608.018,5.153.437,373.372,182.483,507,12.424,0.000,6.367.671
34,2014,2,41.064,656.408,5.149.574,341.689,147.273,478,12.259,0.000,6.348.745
35,2014,1,52.684,687.619,5.130.294,289.182,101.127,345,11.595,0.000,6.272.846

In [38]:
df6

                       Operador  Cantidad
0        Telecom Argentina S.A.     2.528
1  Telefonica de Argentina S.A.   687.000
2               TELECENTRO S.A.   747.000
3                         Otros   673.000

In [39]:
df7

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          4         Buenos Aires                 111.000
1    2022          4      Capital Federal                  18.286
2    2022          4            Catamarca                   8.333
3    2022          4                Chaco                  10.402
4    2022          4               Chubut                   1.592
..    ...        ...                  ...                     ...
859  2014          1           Santa Cruz                 332.000
860  2014          1             Santa Fe                 315.000
861  2014          1  Santiago Del Estero                 295.000
862  2014          1     Tierra Del Fuego                 345.000
863  2014          1              Tucumán                 321.000

[864 rows x 4 columns]

In [113]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     864 non-null    int64
 1   Trimestre               864 non-null    int64
 2   Provincia               864 non-null    object
 3   Mbps (Media de bajada)  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [40]:
df8

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97.634,18,- 0,- 0,28.724,192,4.611,...,- 0,- 0,14,- 0,- 0,- 0,5.655,- 0,90.796,- 0
1,2022.0,4.0,Capital Federal,106.772,31,- 0,- 0,451.000,34,1.307,...,- 0,- 0,- 0,1,- 0,- 0,15,- 0,28.406,- 0
2,2022.0,4.0,Catamarca,2.280,- 0,- 0,- 0,34.000,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,4.0,Chaco,3.909,- 0,225,111,234.000,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,4.0,Chubut,20.026,8,- 0,- 0,69.000,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,2017.0,4.0,Santa Fe,14.119,- 0,- 0,- 0,3.109,- 0,7.637,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
501,2017.0,4.0,Santiago Del Estero,- 0,- 0,- 0,- 0,41.000,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
502,2017.0,4.0,Tierra Del Fuego,- 0,- 0,- 0,- 0,6.000,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
503,2017.0,4.0,Tucumán,- 0,- 0,- 0,- 0,105.000,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df9

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 60.9+ KB

In [43]:
df10.head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022
1,2022,3,1,6,3,557,235,11,Jul-Sept 2022
2,2022,2,1,6,3,556,232,11,Abr-Jun 2022
3,2022,1,2,6,2,546,252,11,Ene-Mar 2022
4,2021,4,2,6,2,523,253,10,Oct-Dic 2021

In [60]:
# Supongamos que df10 es tu DataFrame original y quieres agrupar por la columna 'Año'.
# Luego, deseas sumar las columnas específicas.

# Ejemplo de cómo corregir el código:
df10_grouped = df10.groupby('Año')[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless', 'Otros']].sum().reset_index()

# Explicación:
# 1. groupby('Año'): Agrupa el DataFrame por la columna 'Año'.
# 2. [['ADSL', 'Cablemodem', 'Fibra Óptica', 'Wireless', 'Otros']]: Selecciona las columnas que deseas sumar.
# 3. .sum(): Realiza la suma de las columnas agrupadas.
# 4. .reset_index(): Restablece el índice para obtener un DataFrame plano en lugar de un objeto GroupBy.

# Ahora, df10_grouped es un DataFrame con las sumas por año para las columnas específicas.

In [61]:
df10_grouped

    Año  ADSL  Cablemodem  Fibra óptica  Wireless  Otros
0  2014    16          10           604       305    287
1  2015    16          12           621       332    243
2  2016    16          12           680       336    227
3  2017    16          14           766       433    345
4  2018    15          16          1078       869    466
5  2019    11          19          3191      1262    908
6  2020     8          20             4      1564    958
7  2021     8          23             6      1927   1007
8  2022     5          24            11      2232    941

In [45]:
df11.head(5)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [47]:
df12.head(5)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          4                  10.656   Oct-Dic 2022
1  2022          3                   6.246  Jul-Sept 2022
2  2022          2                   5.844   Abr-Jun 2022
3  2022          1                   5.511   Ene-Mar 2022
4  2021          4                   5.234   Oct-Dic 2021

In [48]:
df13

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  Total
0    2022          4         Buenos Aires                 5      6.0      5
1    2022          4      Capital Federal                 2      2.0      2
2    2022          4            Catamarca                71      1.0     71
3    2022          4                Chaco               144      5.0    144
4    2022          4               Chubut               168    904.0    169
..    ...        ...                  ...               ...      ...    ...
859  2014          1           Santa Cruz                26    460.0     27
860  2014          1             Santa Fe               506    612.0    507
861  2014          1  Santiago Del Estero                37      9.0     37
862  2014          1     Tierra Del Fuego                27    766.0     28
863  2014          1              Tucumán               130     88.0    130

[864 rows x 6 columns]

In [213]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           862 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

In [216]:
# Creo una columna 'id' para hacer el merge
df1 = df1.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))
df3 = df3.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))
df4 = df4.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))
df7 = df7.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))
df9 = df9.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))
df13 = df13.assign(id=pd.Series(range(1, len(df1) + 1)).astype(int))

In [242]:
df3t= df3[['Accesos por cada 100 hogares', 'id']]
df4t=df4.drop(['Año', 'Trimestre', 'Provincia'], axis=1)
df7t= df7[['Mbps (Media de bajada)','id']]
df9t=df9.drop(['Año', 'Trimestre', 'Provincia'], axis=1)
df13t=df13.drop(['Año', 'Trimestre', 'Provincia'], axis=1)

In [247]:
dft_merge= df1.merge(df3t, on='id', how='left')
dft_merge= dft_merge.merge(df4t, on='id', how='left')
dft_merge= dft_merge.merge(df7t, on='id', how='left')
dft_merge= dft_merge.merge(df9t, on='id', how='left')
dft_merge= dft_merge.merge(df13t, on='id', how='left')

In [266]:
dtfinal= dft_merge.drop(['id'], axis=1)

In [3]:
dtfinal=pd.read_csv('datos/Internet_Porvincias.csv')

In [4]:
dtfinal
# Función para obtener la fecha a partir del año y trimestre
def obtener_fecha(row):
    # Determinar el mes correspondiente al trimestre
    mes = (row['Trimestre'] - 1) * 3 + 1
    
    # Crear la fecha usando pd.to_datetime
    fecha = pd.to_datetime(f"{row['Año']}-{mes}-01")
    
    return fecha

# Aplicar la función para crear la columna de fecha
dtfinal['Fecha'] = dtfinal.apply(obtener_fecha, axis=1)

# Mostrar el DataFrame resultante
print(dtfinal)

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2022          4         Buenos Aires                     26.72  \
1    2022          4      Capital Federal                     50.35
2    2022          4            Catamarca                     16.73
3    2022          4                Chaco                     11.66
4    2022          4               Chubut                     26.23
..    ...        ...                  ...                       ...
859  2014          1           Santa Cruz                      8.68
860  2014          1             Santa Fe                     15.08
861  2014          1  Santiago Del Estero                      4.06
862  2014          1     Tierra Del Fuego                     19.10
863  2014          1              Tucumán                      8.31

     Accesos por cada 100 hogares  HASTA 512 kbps  + 512 Kbps - 1 Mbps
0                           78.94          28.934               23.347  \
1                          122.73         516.000                5.096
2                           65.77          71.000              315.000
3                           43.62         461.000              771.000
4                           85.57         109.000                1.614
..                            ...             ...                  ...
859                         28.94         161.000                1.625
860                         47.85           8.456              124.468
861                         16.31           1.234               10.531
862                         63.97          12.000              607.000
863                         33.42           6.000               34.672

     + 1 Mbps - 6 Mbps  + 6 Mbps - 10 Mbps  + 10 Mbps - 20 Mbps  ...   ADSL
0             259866.0             281.550              244.555  ...  326.0  \
1              31320.0              64.653               36.336  ...  139.0
2               2716.0               5.028                4.638  ...    9.0
3              16067.0              17.846                6.704  ...   25.0
4              46457.0              31.007               34.728  ...   45.0
..                 ...                 ...                  ...  ...    ...
859            24972.0               1.000                1.000  ...   19.0
860           345225.0              20.328                6.845  ...  323.0
861            22817.0               2.422              109.000  ...   33.0
862            30902.0               6.000                0.000  ...   22.0
863            83210.0              11.779              362.000  ...  130.0

     Cablemodem  Fibra óptica  Wireless  Otros  Total_y  Banda ancha fija
0           3.0           1.0     130.0   72.0      5.0                 5  \
1           1.0         139.0       5.0   32.0      2.0                 2
2          11.0          47.0       1.0    2.0     71.0                71
3          61.0          47.0       8.0    3.0    144.0               144
4          74.0          10.0      31.0    9.0    169.0               168
..          ...           ...       ...    ...      ...               ...
859       100.0         381.0       4.0    3.0     27.0                26
860       174.0           3.0       6.0  644.0    507.0               506
861         4.0          19.0     915.0   34.0     37.0                37
862         3.0         648.0       1.0    3.0     28.0                27
863        83.0         121.0      13.0   98.0    130.0               130

     Dial up  Total      Fecha
0        6.0      5 2022-10-01
1        2.0      2 2022-10-01
2        1.0     71 2022-10-01
3        5.0    144 2022-10-01
4      904.0    169 2022-10-01
..       ...    ...        ...
859    460.0     27 2014-01-01
860    612.0    507 2014-01-01
861      9.0     37 2014-01-01
862    766.0     28 2014-01-01
863     88.0    130 2014-01-01

[864 rows x 25 columns]

In [27]:
dtfinal

In [1]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Año': [2022, 2022, 2023],
        'Trimestre': [1, 3, 2]}
df = pd.DataFrame(data)

# Función para obtener la fecha a partir del año y trimestre
def obtener_fecha(row):
    # Determinar el mes correspondiente al trimestre
    mes = (row['Trimestre'] - 1) * 3 + 1
    
    # Crear la fecha usando pd.to_datetime
    fecha = pd.to_datetime(f"{row['Año']}-{mes}-01")
    
    return fecha

# Aplicar la función para crear la columna de fecha
df['Fecha'] = df.apply(obtener_fecha, axis=1)

# Mostrar el DataFrame resultante
print(df)

    Año  Trimestre      Fecha
0  2022          1 2022-01-01
1  2022          3 2022-07-01
2  2023          2 2023-04-01

In [26]:
dtfinal

In [31]:
#dtfinal.to_csv('datos/Internet_Porvincias.csv', index=False)
dfinal = pd.read_csv('datos/Internet_Porvincias.csv')

In [32]:
dfinal

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,...,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_y,Banda ancha fija,Dial up,Total,Fecha
0,2022,4,Buenos Aires,26.72,78.94,28.934,23.347,259866.0,281.550,244.555,...,326.0,3.0,1.0,130.0,72.0,5.0,5,6.0,5,2022-10-01
1,2022,4,Capital Federal,50.35,122.73,516.000,5.096,31320.0,64.653,36.336,...,139.0,1.0,139.0,5.0,32.0,2.0,2,2.0,2,2022-10-01
2,2022,4,Catamarca,16.73,65.77,71.000,315.000,2716.0,5.028,4.638,...,9.0,11.0,47.0,1.0,2.0,71.0,71,1.0,71,2022-10-01
3,2022,4,Chaco,11.66,43.62,461.000,771.000,16067.0,17.846,6.704,...,25.0,61.0,47.0,8.0,3.0,144.0,144,5.0,144,2022-10-01
4,2022,4,Chubut,26.23,85.57,109.000,1.614,46457.0,31.007,34.728,...,45.0,74.0,10.0,31.0,9.0,169.0,168,904.0,169,2022-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,8.68,28.94,161.000,1.625,24972.0,1.000,1.000,...,19.0,100.0,381.0,4.0,3.0,27.0,26,460.0,27,2014-01-01
860,2014,1,Santa Fe,15.08,47.85,8.456,124.468,345225.0,20.328,6.845,...,323.0,174.0,3.0,6.0,644.0,507.0,506,612.0,507,2014-01-01
861,2014,1,Santiago Del Estero,4.06,16.31,1.234,10.531,22817.0,2.422,109.000,...,33.0,4.0,19.0,915.0,34.0,37.0,37,9.0,37,2014-01-01
862,2014,1,Tierra Del Fuego,19.10,63.97,12.000,607.000,30902.0,6.000,0.000,...,22.0,3.0,648.0,1.0,3.0,28.0,27,766.0,28,2014-01-01
863,2014,1,Tucumán,8.31,33.42,6.000,34.672,83210.0,11.779,362.000,...,130.0,83.0,121.0,13.0,98.0,130.0,130,88.0,130,2014-01-01

In [ ]:
import pandas as pd

# Crear un DataFrame de ejemplo (asegúrate de tener datos reales de tus trimestres y accesos)
data = {'Trimestre': ['2023-01-01', '2023-02-01', '2023-03-01'],
        'Accesos_por_cada_100_hogares': [500, 510, 520]}
df = pd.DataFrame(data)

# Convertir la columna de trimestres a tipo de dato fecha
df['Trimestre'] = pd.to_datetime(df['Trimestre'])

# Ordenar el DataFrame por trimestre para asegurar un cálculo correcto
df = df.sort_values(by='Trimestre')

# Calcular el KPI
df['KPI'] = ((df['Accesos_por_cada_100_hogares'].shift(1) - df['Accesos_por_cada_100_hogares']) / df['Accesos_por_cada_100_hogares'].shift(1)) * 100

# Mostrar el DataFrame resultante con el KPI calculado
print(df)

In [ ]:
import pandas as pd

# Crear DataFrame
df = pd.DataFrame({
    'fecha': ['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04'],
    'provincia': ['Buenos Aires', 'Córdoba', 'Buenos Aires', 'Córdoba'],
    'dato': [1, 2, 3, 4]
})

# Convertir la columna de fecha a formato de fecha y hora
df['fecha'] = pd.to_datetime(df['fecha'])

# Ordenar el DataFrame por fecha y provincia
df = df.sort_values(by=['fecha', 'provincia'])

# Imprimir el DataFrame ordenado
print(df)

In [37]:
dfinal=dfinal.sort_values(by = ['Año', 'Provincia'], ascending= False)
dfinal

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,...,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_y,Banda ancha fija,Dial up,Total,Fecha
23,2022,4,Tucumán,15.12,61.04,39.000,1.562,29996.0,35.425,26.369,...,69.0,21.0,169.0,4.0,527.0,263.0,263,30.0,263,2022-10-01
47,2022,3,Tucumán,15.14,61.14,39.000,2.047,32571.0,39.018,25.214,...,78.0,19.0,162.0,4.0,519.0,263.0,263,30.0,263,2022-07-01
71,2022,2,Tucumán,14.69,59.31,39.000,2.195,34461.0,43.513,23.634,...,86.0,15.0,149.0,4.0,487.0,255.0,254,30.0,255,2022-04-01
95,2022,1,Tucumán,14.22,57.39,39.000,2.212,36028.0,46.961,21.014,...,93.0,62.0,86.0,4.0,487.0,246.0,246,30.0,246,2022-01-01
22,2022,4,Tierra Del Fuego,30.07,101.44,22.000,902.000,11649.0,13.634,21.365,...,13.0,41.0,405.0,157.0,651.0,55.0,55,312.0,55,2022-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,2014,1,Capital Federal,42.66,112.25,852.000,88.826,1096050.0,70.293,38.798,...,446.0,820.0,18.0,2.0,15.0,1.0,1,11.0,1,2014-01-01
768,2014,4,Buenos Aires,17.01,56.09,8.226,132.937,2250445.0,203.620,104.322,...,2.0,1.0,121.0,18.0,32.0,3.0,3,15.0,3,2014-10-01
792,2014,3,Buenos Aires,17.26,56.75,7.355,128.187,2281524.0,156.693,68.947,...,2.0,1.0,124.0,20.0,32.0,3.0,3,14.0,3,2014-07-01
816,2014,2,Buenos Aires,16.79,55.06,6.902,162.274,2288772.0,140.226,56.549,...,2.0,1.0,120.0,17.0,33.0,3.0,3,14.0,3,2014-04-01
840,2014,1,Buenos Aires,16.69,54.57,8.469,171.244,2279875.0,121.787,38.923,...,2.0,1.0,121.0,17.0,34.0,3.0,3,14.0,3,2014-01-01

In [38]:
kpi= ((dfinal['Accesos por cada 100 hogares'].shift(1) - dfinal['Accesos por cada 100 hogares']))/dfinal['Accesos por cada 100 hogares'].shift(1)

In [40]:
kpi2= ((dfinal['Accesos por cada 100 hab'].shift(1) - dfinal['Accesos por cada 100 hab']))/dfinal['Accesos por cada 100 hab'].shift(1)

In [41]:
print(kpi2)

23          NaN
47    -0.001323
71     0.029723
95     0.031995
22    -1.114627
         ...
841    0.007214
768    0.601266
792   -0.014697
816    0.027231
840    0.005956
Name: Accesos por cada 100 hab, Length: 864, dtype: float64

In [39]:
print(kpi)

23          NaN
47    -0.001638
71     0.029931
95     0.032372
22    -0.767555
         ...
841    0.007866
768    0.500312
792   -0.011767
816    0.029780
840    0.008899
Name: Accesos por cada 100 hogares, Length: 864, dtype: float64

In [ ]:
KPI = DIVIDE(df2[Accesos por cada 100 hab].[Accesos por cada 100 hab] - SHIFT(df2[Accesos por cada 100 hab].[Accesos por cada 100 hab], 1), SHIFT(df2[Accesos por cada 100 hab].[Accesos por cada 100 hab], 1))